<div class="container-fluid">
    <input #box (keyup)="onKey(box.value)" class="form-control mt-3 mb-3">
    <p *ngIf="loading">LOADING...</p>
    <table *ngIf="!loading && titoloc.length >= 1" class="table table-striped table-bordered table-hover">
      <thead>
      <th>Posizione</th>
      <th>Artista</th>
      <th>Canzone</th>
      <th>Settimana classifica</th>
      <th>Nazione</th>
            
      </thead>
      <tbody>
        <tr *ngFor="let t of titoloc">
          <th scope="row">{{ t.Position }}</th>
          <td>{{ t.Artist }}</td>
          <td>{{ t.Song }}</td>
          <td>{{ t.settimana_classifica }}</td>
          <td>{{ t.Nazione }}</td>
              
        </tr>
        </tbody>
    </table>
      <div class="alert alert-danger" *ngIf="titoloc.length < 1">Non esiste la canzone inserita</div>
</div>