


<!DOCTYPE html>
<html>
<head>
<center>
  <img src="/static/logo3.png">
</center>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
    background-image: url("/static/cuffie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  </style>

  
}


</head>

<body>


<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-large w3-black">
    <div class="w3-col s3">
      <a href="/dropdown" class="w3-button w3-block">Ricerca</a>
    </div>
  </div>
</div>


</footer>
</body>
</html>

