<style>
    body {
    background-image: url("/static/sfondoNero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<!DOCTYPE html>
<html>
<body>
  <p>
    <a href="/italia">
    <img [src] = 'bandiera_italia'border="0" class="image" width="500" height="300">
    </a>
  </p>
  <p>
    <a href="/francia">
        <img [src] = 'bandiera_francia' border="0" class="image" width="500" height="300">
    </a>
  </p>
  <p>
    <a href="/inghilterra">
        <img [src] = 'bandiera_inghilterra'border="0" class="image" width="500" height="300">
    </a>
  </p>
  <p>
    <a href="/spagna">
        <img [src] = 'bandiera_spagna'border="0" class="image" width="500" height="300">
    </a>
  </p>
  <p>
    <a href="/USA">
        <img [src] = 'bandiera_usa'border="0" class="image" width="500" height="300">
    </a>
  </p>
  <p>
    <a href="/globale">
        <img [src] = 'bandiera_globale'border="0" class="image" width="500" height="300">
    </a>
  </p>
</body>
</html>